body{
    background-color: rgb(241, 227, 227);
}

*{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 89px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
    padding: 0 8px;
}
.brand img{
    width: 44px;

}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family:'Varela round',sans-serif;
    display: flex;
    margin: 40px auto;
    width: 80%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('tt.webp');
}
        
.bottom{
    position: sticky;
    height: 110px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top:14px;
    padding: 10px 0;
}
.icons i {
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.SongItemContainer{
    margin-top: 50px;
}
.songItem{
  height: 38px;
  background-color: white;
  width: 500px;
  color: black;
  margin: 15px 0;
  justify-content: space-between;
  align-items: center;
  display: flex; 
  border-radius: 34px;  
}
.songItem img{
    width: 30px;
    height: 30px;
    margin: 6px;
    border-radius: 34px;
}
.timestamp{
    margin: 0 20px;
}
.timestamp i{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 10vw;
    font-family:'Varela round',sans-serif;
}
.songinfo img{
    opacity: 0;
    transition: opacity is ease-in;
}



